<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
    <style>
        html {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
    <h1 style="margin: 0 auto;">Course Platform</h1>
    <div>
        <a href="/addCourse">Add Course</a>
        <br>
        <a href="/updateCourse">Update Course</a>
        <br>
        <a href="/deleteCourse">Delete Course</a>
        <br>
        <a href="/fetchCourse">fetch Courses</a>
        <br>
    </div>

    <script>

    </script>
</body>
</html>