<!-- <app-header></app-header> -->
<!-- <mat-grid-list cols="1" rowHeight="10vh">
  <mat-grid-tile>
    <app-header></app-header>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" rowHeight="100vh">
  <mat-grid-tile>
    <app-add-task></app-add-task>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-display-task></app-display-task>
  </mat-grid-tile>
</mat-grid-list> -->

<div class="container">
  <div class="headerContainer">
    <app-header></app-header>
  </div>
  <div class="taskContainer">
    <div class="todoContainer">
      <app-add-task></app-add-task>
    </div>
    <div class="displayContainer">
      <app-display-task></app-display-task>
    </div>
   
  </div>
</div>


