/* mat-grid-tile {
    background: lightblue;
  
}

mat-grid-list{
    margin-bottom:  1px;
} */


.taskContainer{

    display: flex;
    width: 100%;
    /* flex-grow: ;
    flex-grow: grow; */
    justify-content: space-between;
    
    
}

.todoContainer, .displayContainer{
    width: 50%;
}